/*
 * SPDX-FileCopyrightText: 2026 Deutsche Telekom AG
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--spacing-4);
  overflow: hidden;
}
